@{
    ViewData["Title"] = "My Movies";
}

<div id="app" class="container">
    <header>
        <search-box v-on:text-entered="search">
        </search-box>
        <div class="menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="selected">ADD</a></li>
                <li><a asp-controller="Home" asp-action="Search">VIEW</a></li>
                <li><a asp-controller="Home" asp-action="Prefs">PREFERENCES</a></li>
            </ul>
        </div>
    </header>
    <main>
        <movies-list
            v-bind:movies="movies"
            v-on:movie-selected="setMovie"
            v-on:add-request="addMovie">
        </movies-list>
    </main>
    <footer>
        <movie-details class="movieDetails" v-bind:movie="selectedMovie"></movie-details>
    </footer>
</div>

<script src="~/js/searchBox.js"></script>
<script src="~/js/moviesList.js"></script>
<script src="~/js/movieDetails.js"></script>
<script src="~/js/main.js"></script>