@{
    ViewData["Title"] = "Search";
}

<div id="app" class="container">
    <header>
        <div class="menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">ADD</a></li>
                <li><a asp-controller="Home" asp-action="Search">VIEW</a></li>
                <li><a asp-controller="Home" asp-action="Prefs" class="selected">PREFERENCES</a></li>
            </ul>
        </div>
    </header>
    <main>
        <prefs v-bind:preferences="preferences"
               v-on:pref-changed="savePreferences"
               v-on:category-added="addCategory"
               v-on:category-deleted="deleteCategory">
        </prefs>
    </main>
    <footer>
    </footer>
</div>

<environment include="Development">
    <script src="~/js/shared/inputTags.js"></script>
    <script src="~/js/prefs/prefs.js"></script>
    <script src="~/js/prefs/prefsHost.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/prefs/site.min.js"></script>
</environment>