@{
    ViewData["Title"] = "Search";
}

<div id="app" class="container">
    <header>
        <search-box v-model="searchText"></search-box>
        <div class="filters">
            <label>FILTERS</label>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes in the house!!</option>
                <option value="audi">Audi</option>
            </select>
            <div class="foo">
                <input-tags></input-tags>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">ADD</a></li>
                <li><a asp-controller="Home" asp-action="Search" class="selected">VIEW</a></li>
                <li><a asp-controller="Home" asp-action="Prefs">PREFERENCES</a></li>
            </ul>
        </div>
    </header>
    <main>
        <movies-list
            v-bind:movies="filteredMovies"
            v-on:add-request="addToQueue"
            v-on:delete-request="deleteMovie"
            v-on:movie-selected="selectMovie">
        </movies-list>
        <modal
            v-bind:show="showModal"
            v-on:close="closeModal">
        </modal>
    </main>
    <footer>
        <movie-queue
            v-bind:movies="queuedMovies"
            v-on:delete-request="removeFromQueue">
        </movie-queue>
    </footer>
</div>

<environment include="Development">
    <script src="~/js/shared/inputTags.js"></script>
    <script src="~/js/shared/searchBox.js"></script>
    <script src="~/js/shared/modal.js"></script>
    <script src="~/js/shared/moviesList.js"></script>
    <script src="~/js/saved/movieQueue.js"></script>
    <script src="~/js/saved/savedMovies.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/saved/site.min.js"></script>
</environment>