* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: black;
  padding: 10px;
  grid-area: header;
}

main {
  display: flex;
}

main {
  grid-area: content;
  width: 100%;
  background-color: #555555;
  overflow: scroll;
}

footer {
  background-color: black;
  color: white;
  grid-area: footer;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #555555;
}

input[type=text] {
  border: none;
  margin: 5px;
  outline: none;
  background-color: black;
  color: white;
  font-size: 20px;
}

.searchBox {
  display: inline;
}

.fa {
  color: white;
}

.queued-movie {
  display: inline-block;
  position: relative;
  background-color: black;
  height: 151px;
  width: 100px;
  margin: 20px;
  opacity: 0;
  transition: opacity 3s;
  -webkit-transition: opacity 3s;
  transition-timing-function: ease;
}

.movie .selected {
  border: 10px solid yellowgreen;
}

.loaded {
  opacity: 1;
}

.queued-movie img {
  position: absolute;
  height: 151px;
  width: 100px;
}

.movie {
  display: inline-block;
  position: relative;
  background-color: black;
  height: 226px;
  width: 154px;
  margin: 10px;
}

.movie img {
  position: absolute;
  height: 226px;
  width: 154px;
}

.movie:hover {
  opacity: .7;
}

.movieDetails {
  margin-left: 10px;
}

.queued-movies {
  max-height: 190px;
  overflow-x: scroll;
  transition: height .5s;
  -webkit-transition: height .5s;
  transition-timing-function: ease;
}

.down {
  height: 0;
}

.up {
  height: 200px;
}

.action-button {
  background: gray;
  position: absolute;
  padding: 5px;
  z-index: 10;
  opacity: .7;
}

.action-button:hover {
  background: #4CAF50;
  opacity: 1;
}

.action-button:active {
  background: green;
  opacity: 1;
}

.alertify-log-success {
  background: #4CAF50;
  opacity: .9;
}

.alertify-log {
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: none;
}

.right {
  right: 0;
}

.toggle-view {
  width: 100%;
  height: 20px;
  background: gray;
  text-align: center;
}

.toggle-view i {
  vertical-align: middle;
}

.toggle-view:hover {
  background: darkgray;
}

.apiKey {
  color: black;
  position: absolute;
  right: 0;
}

.menu {
  float: right;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #333;
}

.menu .selected {
  background-color: #4CAF50;
}

.menu .selected:hover {
  background-color: #4CAF50;
}

.prefs input[type=text] {
  padding: 10px;
  width: 400px;
}

.prefs label {
  margin: 10px;
  color: white;
}

.login label {
  color: white;
  display: block;
  margin: 5px;
}

.login input[type=text] {
  padding: 5px;
}

.form-group {
  margin: 5px;
}

.text-danger {
  margin: 10px;
  color: white;
}

.default-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

.login {
  padding-top: 10px;
}

.login input {
  border: none;
  margin: 5px;
  padding: 5px;
  outline: none;
  background-color: black;
  color: white;
  font-size: 20px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-container {
  width: 300px;
  margin: 40px auto 0;
  padding: 20px 30px;
  background-color: #555555;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-footer {
  text-align: center;
}

.modal-header h3 {
  margin-top: 0;
  color: white;
  text-align: center;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.vue-input-tag-wrapper {
  border: none;
  margin: 5px;
  outline: none;
  background-color: black;
  color: white;
  font-size: 20px;
  overflow: inherit;
}

.filters {
  color: white;
  display: inline;
}

.foo {
  display: inline;
}

.foo div {
  display: inline;
  overflow: none;
}

select {
  background: #555555;
  border: none;
  color: white;
  height: 40px;
  font-size: 20px;
  margin-left: 10px;
}

.foo .vue-input-tag-wrapper .input-tag {
  border: none;
  margin: 5px;
  outline: none;
  background-color: black;
  color: white;
  font-size: 20px;
}

.foo .vue-input-tag-wrapper .input-tag .remove {
  color: #4CAF50; /* Green */
}